doctype html
html(lang="en")
  head
    title Test of image processor
    link(rel="stylesheet" href="/bootstrap-3.1.1-dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/styles.css")
  body
    .container
      .row
        .col-xs-6.col-xs-offset-3
          #app

    script(type="text/javascript", src="/vendor.js")
    script(type="text/javascript", src="/client.js")
