doctype html
html(lang="en")
  head
    title Test of image processor
    link(rel="stylesheet" href="/styles.css")
  body
    script(type="text/javascript", src="/vendor.js")
    script(type="text/javascript", src="/client.js")
