* {
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

body {
  padding-top: 40px;
}

.btn {
  text-transform: uppercase;
}

.form-container {
  background-color: gray;
  padding: 10px;
}

table {
  margin: 10px 0px !important;
}

td, th {
  text-align: left;
  color: black;
}

th {
  font-weight: bold;
}
